<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Camera.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Camera.Properties.Settings>
            <setting name="ImageSaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoExposure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoExposureValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumberOfBands" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImageDataType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SenorPixelCorrection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlatFieldCorrection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CorrectionImageDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Gain1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Gain2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Gain3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Gain4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Counter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Detected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Guid" serializeAs="String">
                <value>A5DCBF10-6530-11D2-901F-00C04FB951ED</value>
            </setting>
            <setting name="UsbRestart" serializeAs="String">
                <value>True</value>
            </setting>
        </Camera.Properties.Settings>
    </userSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
